body {
    background-image: url("mechwarrior-battletech.jpg");
}

#bidCreate {
    padding-left: 50px;
}

#active {
    padding-left: 50px;
}

#show {
    padding-left: 50px;
}

#bidWatch {
    padding-left: 50px;
}

#bidHistory {
    padding-left: 50px;
}