* {
    box-sizing: border-box;
}

header {
    margin-left: 10px;
}

.row {
    float: left;
    width: 300px;
    padding-left: 10px;
    height: 500px;
    border: 1px solid black;
}

.row2 {
    float: left;
    width: 700px;
    padding-left: 10px;
    height: 500px;
    border: 1px solid black;
}

.column {
    content: "";
    display: table;
    clear: both;
}