.title {
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: orange;
}

.top menu {
    background-color: orange;
}

.item {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.item :hover {
    background-color: orchid;
}

.bargraph {
    background-color: orange;
}

.bar1 {
    background-color: black;
}

.bar2 {
    background-color: black;
}

.bar3 {
    background-color: black;
}

.bar4 {
    background-color: black;
}

.sidebar {
    background-color: orange;
    float: right;
}

.flexbottom {
    background: orchid;
}

.mon {
    background-color: darkgoldenrod;
}